{% extends "base.html" %}
{% block title %}FABRIC{% endblock %}
{% block head %}
 Welcome To FABRIC.
{% endblock %}
{% block content %}

<img src="../../static/app/img/fabriclogo.jpg" alt="FABRIC" style="width:1154px;height:228px;"> <br /><br />
<div style="background-color: lightgray; font-family:Segoe UI; font-size:16px; border-radius: 25px; padding:25px;">    
    Lorem ipsum dolor sit amet, fermentum vel magna aliquam nec morbi, felis nulla erat luctus penatibus nec, 
    quam ipsum tempus ligula non dolor interdum. Eleifend justo ut, tincidunt inceptos et torquent. Reprehenderit 
    nunc in posuere molestie, felis sed wisi adipiscing pellentesque ac aliquet, vivamus sed gravida ut nemo nobis, 
    sollicitudin commodo urna urna elit sed lectus. Tristique etiam amet venenatis. Mollis odio aliqua semper nonummy 
    nullam aliquam, feugiat eget tellus. Egestas amet lectus, ultricies lobortis elementum metus sapien nunc sodales, 
    ac quisque mauris dis, fermentum eget bibendum, in maecenas libero. Adipiscing erat, vel dui purus enim, amet 
    tincidunt vel dictum sem blanditiis nec. Suscipit interdum blandit eu neque aliquam, sed dui donec vehicula donec 
    aliquet nullam, lectus ante et ullamcorper varius etiam mollis, ut luctus pede viverra nec. Iaculis venenatis molestie, 
    taciti elit tortor sit.<br /><br />
    Ut imperdiet aenean aliquam, faucibus mattis imperdiet. Fames eu venenatis duis arcu eros mauris, sed scelerisque 
    libero in occaecat molestie, tristique a elit porta. Consequat nonummy scelerisque facilisi pede pellentesque 
    pellentesque, magna urna in aenean porttitor nibh, egestas tellus justo erat magnis. Volutpat non amet wisi vel, 
    eleifend adipiscing amet odio ligula at mauris, in vitae tortor montes elementum ligula. Scelerisque velit dictum 
    nulla in vestibulum, eget nulla viverra ac, id tincidunt mauris sodales justo, vel ultricies mauris molestie praesent 
    amet. Mauris tellus, per dui vulputate molestie habitasse, in egestas quo et nullam elementum diam, vestibulum orci, 
    nonummy leo luctus mollis. Wisi magnis, morbi id arcu eu orci fusce, sit nonummy neque wisi, consectetuer leo ultricies 
    mauris pretium adipiscing. Vestibulum lacus vitae vel iaculis fames viverra, quis magna consequat nec vitae, wisi quam 
    blandit, lacinia pellentesque vitae. 
</div>
<br /><br />

Click here to Register: <a href="/register/">Register To Use FABRIC</a>
{% endblock %}